1.react-router-dom - (https://reactrouter.com/docs/en/v6/getting-started/overview);
2.Bootstrap - (https://getbootstrap.com/docs/5.2/getting-started/introduction/);
3.Reactstrap - (https://6-4-0--reactstrap.netlify.app/);