@import "~bootstrap/dist/css/bootstrap.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;

  height: 100%;
  margin: 0;

  font-size: 14px;
}

body {
  background-image: url("./assets/images/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: unset;
}

#root {
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
